body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(21, 134, 134);
    margin-top: 0.5%;
}

#header {
    background-color: green;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
  }
  i {
    font-size: 35px;
    color: blue;
    background-color: white;
    border-radius: 5px;
  }

  #nav-bar {
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 22px;
    margin-left: auto;
    margin-top: 22px;
    margin-bottom: 20px;
  }

  .nav-link {
      text-decoration: none;
  }