body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(21, 134, 134);
    margin-top: 20%;

}
header {
    width: 80%;
    margin-top: 90px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    overflow: hidden;
}
hgroup {
    width: 70%;
    float: left;
}
nav {
    width: 30%;
    float: right;
}
p {
    margin: 19px;
}
section {
    width: 80%;
    background-color: rgb(231, 222, 222);
    margin-right: auto;
    margin-left: auto;
    border-color: turquoise;
    border-style: solid;
    border-width: 5px;
}